html, body {
  height: 100%;
  width: 100%;
}

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
}

.navbar{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: red;
  width: 100%;
  height: 70px;
  z-index: 1;
  box-shadow: 0 2px 5px black;
  
  
}

.nav{
  display: flex;
  justify-content: right;
  list-style: none;
  margin: 0;
  margin-right: 15%
  
}

.logo{
  flex: 1 1 auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 35px;
  margin: 0;
  margin-left: 10%;
}

a{
  margin: 15px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: nunito;
  
}

a:hover,
  a:focus{
    color: white;
    
  }

.home{
  position: relative;
  background-color: whitesmoke;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.part-2, .part-3, .part-4{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 700px;
  
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  
}

.part-2{
  background-color: #fcd1d1;
}

.part-3{
  background-color: #ece2e1;
}

.part-4{
  background-color: #d3e0dc;
}

*{
  box-sizing: border-box;
}

.mySlides{
  display: none;
}

img{
  vertical-align: middle;
}
.slideshow-container{
  max-width: 80%;
  position: relative;
  margin: auto;
}


.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  
  
}

.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, next:hover{
  background-color: black;
} 

.text{
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 8px;
  
  
}

.numbertext{
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  
}

.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
    
}

.active, .dot:hover{
  background-color: #717171;
}
.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  
}

@-webkit-keyframes fade{
from {opacity: .4}  
to{opacity: 1}
}
@keyframes fade{
 from {opacity: .4}  
to{opacity: 1} 
}

/* fit to any screen */

@media only screen and (max-width: 300px){
  .prev, .next, text{
    font-size: 11px;
  }
  .dot{
   height: 10px;
    width: 10px;
  }
}

@media only screen and (max-width: 500px){
  .prev, .next, text{
    font-size: 14px;
  }

}

.part-4{
  @media (max-width: 426px) {
  .player{
    width: 150%;
  }
}
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

player{
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.wrapper{
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.details{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.track-art{
    margin: 25px;
    height: 250px;
    width: 250px;
    border: 2px solid #fff;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px #ccc;
    -webkit-box-shadow:0px 6px 5px #ccc;
    box-shadow: 0px 6px 5px #ccc;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
    border-radius: 190px;
}
.now-playing{
    font-size: 1rem;
}
.track-name{
    font-size: 2.5rem;
}
.track-artist{
    margin-top: 5px;
    font-size: 1.5rem;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}
.active{
    color: black;
}
.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track{
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}
.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover{
    opacity: 1.0;
}
.slider_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.seek_slider,
.volume_slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: silver;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid black;
    cursor: pointer;
    border-radius: 100%;
}
.seek_slider:hover,
.volume_slider:hover{
    opacity: 1.0;
}
.seek_slider{
    width: 60%;
}
.volume_slider{
    width: 30%;
}
.current-time,
.total-duration{
    padding: 10px;
}
i.fa-volume-down,
i.fa-volume-up{
    padding: 10px;
}
i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward{
    cursor: pointer;
}
.randomActive{
    color: black;
}
.rotate{
    animation: rotation 8s infinite linear;
}
@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
.loader{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader .stroke{
    background: black;
    height: 150%;
    width: 10px;
    border-radius: 50px;
    margin: 0px 5px;
    animation: animate 1.4s linear infinite;
}

@keyframes animate{
    50%{
        height: 20%;
        background: red;
    }
    100%{
        height: 100%;
    }
}
.stroke:nth-child(1){
    animation-delay: 0s;
}
.stroke:nth-child(2){
    animation-delay: 0.3s;
}
.stroke:nth-child(3){
    animation-delay: 0.6s;
}
.stroke:nth-child(4){
    animation-delay: 0.9s;
}
.stroke:nth-child(5){
    animation-delay: 0.6s;
}
.stroke:nth-child(6){
    animation-delay: 0.3s;
}
.stroke:nth-child(7){
    animation-delay: 0s;
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 15px 0;
}

.gallery img {
flex-wrap: wrap;
width: 320px;
height: 300px;  
margin: 10px 0;
  
}

.image {
    position: relative;
    width: 400px;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: #009578;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}
