html, body {
  height: 100%;
  width: 100%;
  background-color: #fbe9fb;
}
.basic-para {
  color: pink;
  font-weight: bold;
  padding: 1rem;
  font-size: 2rem;
  border: 4px solid #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s;
  position: absolute;
}

body{
  overflow-x: hidden;
}

.inactive {
  translate:100%;
  opacity: 20%;
  border: 4px solid black;
  box-shadow: none;
  overflow: hidden;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1{
  text-align: center;
  color: #e4536b;
  
}

.buttons{
 color:#e4536b;
 height:50px;
 width:50px;
 border-radius:10px;
 font-size: 1.5rem;
 box-shadow: 0px 0px 2px 2px rgb(160, 70, 70);
 border: none;
 padding: 10px;
}

.text-center {
  text-align: center;
  
}

.buttons:hover {
      background-color:#e89ca7;
      transition: 0.7s;
  }

 .buttons:focus {
    outline-color: transparent;
    outline-style:solid;
   background-color: #e89ca7;
}

p0 {
  font-size: 1rem;
  text-align: center;
}