html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;

  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

aside {
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  background-color: #f9d952;
  gap: 7ch;
  padding: 1rem;
  justify-content: center;
  text-align: center;
}

article {
  height: 100%;
  padding: 1rem;
}

#page-3 {
  height: 1000px;
}

p {
  font-size: 4rem;
  text-align: center;
}



.link:link {
  text-decoration: none;
  color: black;
}

.link:visited {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: white;
}

.link:active {
  text-decoration: none;
  color: black;
}

