.question-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2ch;
  padding-top: 2ch;
  font-family: pentz-classic, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 120%;
}

.bio-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .3ch;
  padding: .3ch;
  font-family: pentz-classic, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 120%;
}

.survey-out {
  font-weight: 500;
  font-size: 120%;

}

.smaug {
  width: 80%;
}

.survey-body {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}
/* Above styling from https://codepen.io/bingwa/pen/vYERWpv*/

@media only screen and (max-width: 600px) {
  
  .question-section { 
    font-size: 85%;
  }

    
  .bio-section { 
    font-size: 85%;
  }


  

 .smaug {
    width: 60%;
    justify-content: center;
  }
  
}