---
---

@import "{{ site.theme }}";

.page-header {
  background-color: #C3142D;
  background-image: none;
}

a.btn {
  display: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content h1 {
  color: black;
}

.main-content h2 {
  color: #C3142D;
}